$headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
$fontFamily: "Libre Caslon Text", serif, sans-serif;
$radius: 7px;

$lighBg: #b0ccbc; //#7bccc7
$darkBg: #a5b8D0;
// $color3: #b47b77;
$boxShadowColor: grey;
$background: #f0f0f0;
$fontColor: #1c1c1c ;
$activeColor: #faf0e6;

// Proposition Mel : #eba6a1 
// #8d2C59
// #f8c2ec
// #f8f4c2
// $headerFont: Georgia, 'Times New Roman', Times, serif, sans-serif;
// $lighBg: #83dbd0; //#7bccc7
// $darkBg: #5fbfb9;

// color of the logo : #4eb6aa
// Color not to lose :
/*
#55c3ae
*/
